p {
    border-style: dotted solid double dashed;
  }
  div {
    padding: 25px 50px 75px 100px;
  }
  p {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
  }
  <div class="flex-container">
  <div>1</div>
  <div>2</div>
  <div>3</div>